/* Debug */
/* * {
  border: 2px red solid;
} */

/* ************************** Body ************************* */
body {
  background-color: rgba(98, 185, 255, 0.377);
  min-width: 1050px;
}

/* *********************** Header ************************ */
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  text-shadow: 2px 1px 3px #6d717169;
  text-align: center;
  font-family: "ZCOOL XiaoWei", serif;
  margin: 100px auto 50px auto;
}

#top h2 {
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 2px 1px 3px #6d71713a;
}

/* ************************* Nav ************************ */
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 50px;
  height: 50px;
}

.catégories {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button_menu {
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Créer les arrondis */
#Profil {
  border-radius: 10px 0 0 10px;
}

#L_et_I {
  border-radius: 0 10px 10px 0;
  border-left: 0;
}

/* Supprimer les bordures doublées */
#Exp_pro,
#Formations {
  border-left: 0;
  border-right: 0;
}

/* Changer la couleur des boutons et le type de curseur */
input[type="submit"] {
  cursor: pointer;
  background-color: rgb(255, 195, 126);
}

/* Changer le style du bouton quand on passe la souris dessus */
input[type="submit"]:hover {
  background-color: rgba(41, 91, 255, 0.466);
  color: white;
  transition: 0.4s;
}

/* **************************** Section "pageCV" ****************************** */
#profil_et_contact {
  display: flex;
}

/* ***************************** Main ********************************** */
main {
  margin: 50px 100px 30px 100px;
}

article h2 {
  border-bottom: 1px solid orange;
}

#profil,
#exp_pro,
#compétences,
#formations,
#projets,
#l_et_i {
  border: solid 2px rgba(36, 124, 255, 0.589);
  background-color: rgba(255, 255, 255, 0.616);
  box-shadow: 3px 3px 4px rgba(53, 53, 255, 0.281);
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  margin: 10px;
}

/* ********************************* Aside "Contact" ************************* */
#contact {
  border: solid 2px rgb(255, 164, 60);
  background-color: rgba(255, 255, 255, 0.616);
  margin: 10px 10px 10px 0;
  box-shadow: 3px 3px 4px rgba(255, 78, 122, 0.281);
  padding: 0 20px 0 20px;
  border-radius: 10px;
  min-width: min-content;
  height: min-content;
}

#contact h2 {
  border-bottom: 1px solid rgba(36, 124, 255, 0.589);
}

#contact ul li {
  list-style-type: none;
  padding: 0px;
  text-align: left;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

#contact ul {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#contact li a {
  color: black;
  text-decoration: none;
  padding: 5px 10px 10px 10px;
  margin-left: 25px;
}

.logos_contact {
  position: absolute;
}

/* ******************************** Profil ****************************** */
#profil p {
  text-align: justify;
}

.photo_id {
  float: right;
  margin: -10px 5px 10px 20px;
  border: solid 1px rgb(255, 195, 126);
  border-radius: 100px;
}

/* ************************************** Exp pro ******************************* */
.logos {
  float: right;
  margin: auto 50px auto 50px;
}

.liste {
  list-style-type: none;
}

.liste h3 {
  padding-top: 10px;
  margin-bottom: 2px;
}

.titre_entreprise {
  border-top: 1px solid rgba(36, 124, 255, 0.589);
}

.liste p {
  padding: 0px;
}

.liste h4 {
  margin-bottom: 2px;
}

.description {
  margin-top: 0px;
}

.date_et_lieu {
  color: rgb(119, 119, 119);
  margin: 0px;
}

/* .autreparagraphe {
  clear: right;
} */

/* ********************************* Compétences ******************************* */
#images_compétences {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#images_compétences img {
  margin: 10px;
}

@media screen and (max-width: 1100px) {
  #images_compétences {
    flex-direction: column;
  }
}

/* ************************************ Formations **************************** */
.soustitre {
  margin-top: 0px;
}

/* ************************************* Projets ************************************ */
#projets h4 {
  margin-bottom: 0px;
}

#frise {
  display: flex;
  margin: auto;
}

/* ******************************************** Loisirs ****************************** */
#images_loisirs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin: 50px;
}
#l_et_i img,
video {
  margin: 10px;
}

#l_et_i {
  min-height: 500px;
}

#triathlon {
  float: left;
}

/* ************************************ Button top ******************************** */
#button_top {
  position: fixed;
  border: 2px solid black;
  background-color: rgb(255, 195, 126);
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

/* **************************************** footer ***************************** */
#contact_form {
  border: solid 2px rgb(255, 164, 60);
  background-color: rgba(255, 255, 255, 0.616);
  margin: 10px 10px 10px 0;
  box-shadow: 3px 3px 4px rgba(255, 78, 122, 0.281);
  padding: 0 20px 0 20px;
  border-radius: 10px;
  min-width: min-content;
  height: min-content;
  margin: 0 100px 100px 100px;
}

#contact_form form {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

#button {
  border-radius: 10px;
}
